body {
    font-family: 'Open Sans', sans-serif;
}

#row-1 {
    background-color: rebeccapurple;
    /* align-items: center; */
    color: white;
    height: 5vh;
    /*how do you text align center text that is in display:flex*/
}

#row-2 {
    height: 40vh;
}

#row-2 .col-3 {
    background-color: gray;

}

#row-3 {
    background-color: blue;
}

main {
    display: flex;
    height: 100vh;
}

#search {
    display: flex;
    flex-direction: column;
}

#cities {
    display: flex;
    flex-direction: column;
    border-right: 1px solid darkgrey;
    border-top: 1px solid black;
    padding-left: 0.5%;
    padding-right: 3%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rebeccapurple;
    color: white;
    font-weight: 900;
    font-size: 1.5em;
    height: 6vh;
    padding-top: 0.5%;
}

.day {
    background-color: gray;
    padding: 2%;
}

#forecast {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1%;
    /* flex-direction: column; */
}

/* .days-ahead {
    display: flex;
} */

#weather {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 100%;
    align-content: flex-start;
    justify-content: flex-start;
}

button {
    background-color: royalblue;
    color: white;
    margin: 1% 1%;
}

#recents button {
    background-color: gray;
    margin: 2% 2%;
}

.days-ahead {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    font-size: 2em;
}

.day {
    margin-left: 3%;
    margin-right: 3%;
}

.current-day {
    display: flex;
    justify-content: flex-start;
}

#forecast-box,
#current-box {
    margin-left: 1%;
    margin-top: 1%;

}

#current-box {
    border-bottom: 1px solid black;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;

}

h2 {
    margin-bottom: 3%;
}

#cities form {
    margin-top: 1%;
    margin-bottom: 3%;
}

#current-day .container {
    border: 1px solid black;
    width: 20%;
    height: 100%;
    margin-left: 2%;
    margin-top: -1%;
    padding: 2%;
    font-size: 2em;
    display: flex;
    flex-wrap: wrap;

}

#search {
    margin-top: 7%;
}

input {
    margin-top: 5%;
    width: 99%;
}

#recents {
    margin-top:
}

#search button {

    margin-top: 1%;
}

#label {
    font-size: large;
    margin-bottom: 13%;
}

#forecast-box: {
    display: flex;
    justify-content: space-between;
}

#current-day .container div div:nth-child(1) {
    font-weight: 900;
}

#city,
#state {
    font-weight: 800;
}