body {
    font-family: 'Open Sans', sans-serif;
}

#row-1 {
    background-color: rebeccapurple;
    /* align-items: center; */
    color: white;
    height: 5vh;
    /*how do you text align center text that is in display:flex*/
}

#row-2 {
    height: 40vh;
}

#row-2 .col-3 {
    background-color: gray;

}

#row-3 {
    background-color: blue;
}

main {
    display: flex;
    height: 100vh;
}

#search {
    display: flex;
    flex-direction: column;
}

#cities {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding-left: 0.5%;
    padding-right: 1%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rebeccapurple;
    color: white;
    height: 6vh;
}

.day {
    background-color: gray;
    padding: 2%;
}

#forecast {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1%;
    /* flex-direction: column; */
}

/* .days-ahead {
    display: flex;
} */

#weather {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 100%;
    align-content: flex-start;
    justify-content: flex-start;
}

button {
    background-color: royalblue;
    color: white;
    margin: 1% 1%;
}

#recents button {
    background-color: gray;
}

.days-ahead {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    font-size: 2em;
}

.day {
    margin-left: 3%;
    margin-right: 3%;
}

.current-day {
    display: flex;
    justify-content: flex-start;
}